.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
  }
  
  .message {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
    padding: 20px;
    border: 2px solid #2196f3;
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  
  .message p {
    margin: 10px;
  }
  
  .message img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }
  


//*****************
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
  }
  
  table {
    width: 90%;
    margin-top: 20px;
    border-radius: 15px;
    overflow: hidden;
    background: linear-gradient(120deg, rgb(217, 241, 254), rgb(217, 241, 254));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  thead {
    background-color: rgb(217, 241, 254);
    color: white;
    font-weight: bold;
  }
  
  thead th {
    padding: 12px;
    text-align: center;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f0f0f0;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  td {
    padding: 15px;
    font-weight: bold;
  }
  
  button {
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 30px;
    background-color: rgb(126, 191, 226);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
  }
  
  button:hover,
  button:focus {
    background-color: #00bcd4;
  }
  
  button:active {
    background-color: #0097a7;
  }
  

  //*******************
  .container3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust the gap to create space between cards */
    padding: 20px;
    overflow-x: auto;
  }
  
  .card {
    width: 400px;
    max-width: calc(100vw - 40px);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 30px;
    background: linear-gradient(120deg, #ffffff, #e6e6e6);
    box-shadow: 10px 10px 20px #9c9c9c, -10px -10px 20px #ffffff;
    font-family: 'Roboto', 'sans-serif';
    overflow: hidden;
  }
  
  .image {
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
  }
  
  .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  
  .price {
    color: black;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    margin-top: 12px;
    color: white;
    background-color: rgb(93, 181, 232);
    text-align: center;
    cursor: pointer;
    width: 80%;
    font-size: 18px;
    border-radius: 15px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  
  .classButtonClick {
    border: 3px solid blue !important;
  }
  

  .mess {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px; /* Adjust margin top as needed */
    margin-bottom: 20px; /* Adjust margin bottom as needed */
  }
  
  .mess p {
    font-size: 28px; /* Adjust font size as needed */
    font-weight: bold;
    font-family: Arial, sans-serif; /* Example of font family */
    letter-spacing: 1px; /* Adjust letter spacing as needed */
  }
  