.example-form {
    /* min-width: 200px;
     max-width: 500px;
     width: 150%;*/
     
 
 
     width: 100%;
     max-width: 500px; /* Adjust max-width as needed */
     margin: auto; /* Center the form horizontally */
     margin-top: 20%; /* Adjust top margin as needed */
 }
   
   .example-full-width {
     width: 100%;
   }
 
   
   form {
     margin: auto;
     margin-top: 20%;
 
   }

   .login-container {
    background-image: url('../../assets/images/travel_background.jpg'); /* Path to your background image */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
  
    .example-form {
      background-color: rgba(255, 255, 255, 0.8); /* Adjust background color and opacity */
      padding: 20px;
      border-radius: 10px; /* Rounded corners for the form */
      width: 300px; /* Adjust width of the form */
      max-width: 90%;
      text-align: center;
  
      .example-full-width {
        width: 100%;
        margin-bottom: 20px;
  
        input {
          background-color: rgba(255, 255, 255, 0.9); /* Adjust background color and opacity for inputs */
        }
      }
  
      button {
        width: 100%;
      }
    }
  }
  
